.row{
    display: flex;
    flex-wrap: wrap;
}
.cards{
    display: flex;
    gap:1rem;
    flex-wrap:wrap;
}
.col{
   border: 1px solid black;
   background-color: aquamarine;
   padding:1rem;
}

.nav-items{
    list-style: none;
    border:1px solid black;
    padding:0.5rem;
    background-color: blanchedalmond;
    flex-grow: 1;  /* Each of nav bar should take 1 proportion of the entire space */
}
.card{
    border:1px solid black;
    max-width: 250px;
    padding: 0.5rem;
    border-radius:5px;
    display: flex;
    flex-direction: column; /* By default flex-direction is row*/
    justify-content: space-between; /* This property works only if there is a display:flex; property for parent elements*/
}