.row{
    display: flex;
}
.col{
   border: 1px solid black;
   background-color: aquamarine;
   padding:1rem;
}

.nav-items{
    list-style: none;
    border:1px solid black;
    padding:0.5rem;
    background-color: blanchedalmond;
}