:root{
    --primary-color:purple;
}/* defining colors in root element*/
#heading{
    color:green;
}
#para1{
    color:blue;
    font-size: 20px;
}
.headingTwo{
    color:blueviolet;
    font-style: italic;
}
/* a:hover{
    color:greenyellow
} */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
} 
.centered-container{
max-width: 600px;
margin: auto;
}
.link{
    text-decoration: none;
}
.link-primary{
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
padding:5px;
}
.link-secondary{
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    color:var(--primary-color);
padding:5px;
}
.list-non-bullet{
list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;/*Short hand property*/
}