#heading{
    color:green;
}
#para1{
    color:blue;
    font-size: 20px;
}
.headingTwo{
    color:blueviolet;
    font-style: italic;
}
a:hover{
    color:greenyellow
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
} 
.centered-container{
max-width: 600px;
margin: auto;
}